/__pycache__
/tests/__pycache__
/data/annotations
/data/images
/data/thumbnails
/escriptorium
/data/temp_export
/data/originals
*.pt
QWEN.md
/data/projects
/models/*
database.db
/database/__pycache__
/database/repository/__pycache__
/services/__pycache__
.env
.qwen/
AGENTS.md